name: Deploy to Google Cloud Storage

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy Static Web to GCS
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    env:
      BUCKET_NAME: devfest-website-bucket

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'

      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24'
          
      - name: Install dependencies
        run: npm install

      - name: Build Website
        run: npm run build

      - name: Sleep to wait for file consistency
        run: sleep 10

      - name: Clear GCS bucket
        run: gsutil -m rm -r gs://${{ env.BUCKET_NAME }}/** || true

      - name: Upload files to GCS
        run: gsutil -m rsync -r -d -c dist/client gs://${{ env.BUCKET_NAME }}/
